@font-face {
  font-family: 'Gelion';
  src: url('../public/assets/fonts/Gelion/Gelion-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Gelion-Medium';
  src: url('../public/assets/fonts/Gelion/Gelion-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Gelion-SemiBold';
  src: url('../public/assets/fonts/Gelion/Gelion-SemiBold.woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body {
  @apply text-primary-200 font-sans m-0 overflow-hidden antialiased;
}
